
body{
    background-color: #f1fce0;
    color:#36761b;
}

main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

canvas{
    border:3px #36761b solid;
}

.color a{
    display: inline-block; 
    width: 20px; 
    height: 20px; 
}

.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}